name = "mapifi"
main = "src/worker.js"
compatibility_date = "2026-01-06"
workers_dev = true

[vars]
GTFS_RT_URL = "https://api.transport.nsw.gov.au/v1/gtfs/vehiclepos/buses"
GTFS_RT_AUTH_HEADER = "Authorization"
GTFS_RT_AUTH_QUERY = ""

[assets]
directory = "./public"
binding = "ASSETS"
not_found_handling = "single-page-application"
